*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: #f6f6f6;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', serif;
    /* font-family: 'Poppins', sans-serif; */
    color: #505050;
    margin: 5px;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.btn{
    padding: .10rem 1rem;
    background: dimgray;
    color: white;
    border: 1px solid transparent;
    border-radius: .25rem;
    font-size: 1.08em;
}

.btn:hover{
    color: white !important;
    background: #505050;
}

.btn-big{
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
}

.text-input{
    padding: .7rem 1rem;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    outline: none;
    color: #444;
    font-size: 1.2em;
    line-height: 1.5rem;
}

.msg{
    width: 100%;
    margin: 8px auto;
    padding: 8px;
    border-radius: 10px;
    list-style: none;
}

.success{
    color: rgb(81, 154, 81);
    border: 1px solid rgb(81, 154, 81);
    background: #bcf5bc;
}

.error{
    color: #884b4b;
    border: 1px solid #884b4b;
    background: #f5bcbc;
}

/* HEADER */

header{
    background: #303036;
    height: 66px;
    width: 100%;
}

header *{
    color: white;
}

header .logo{
    float: left;
    margin-left: 2em;
    height: inherit;
    padding-top: 13px;
}

header .logo-text{
    font-size: 2em;
    margin: 5px;
    text-decoration: none;
}

header ul{
    float: right;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

header ul li{
    float: left;
    position: relative;
}

header ul li a{
    display: block;
    padding: 20px 15px;
    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
}

header ul li a:hover{
    background: #505050;
    color: #FF5F1F;
}

header .menu-toggle{
    display: none;
}

header .dropdown-content{
    box-sizing: border-box;
    display: none;
    position: absolute;
    z-index: 88888;
    right: 0;
    background: #303036;
    border: 0.8px solid black;

}

header .dropdown-content li {
    margin: 0;
    padding: 0;
}

header .dropdown-content a {
    margin: 0;
    padding: 20px;
}

header .dropdown-content .logout{
    color: red;
    padding: 25px;
}

header .dropdown:hover .dropdown-content{
    display: block;
}

.page-wrapper{
    min-height: 100%;
}

.page-wrapper a:hover{
    color: rgb(250, 89, 89);
}

/* POST SLIDER */

.post-slider{
    position: relative;
}
.post-slider .slider-title{
    text-align: center;
    margin: 30px auto;
}

.post-slider .next{
    position: absolute;
    top: 40%;
    right: 30px;
    font-size: 2em;
    color: rgb(255, 118, 118);
    cursor: pointer;
}

.post-slider .prev{
    position: absolute;
    top: 40%;
    left: 30px;
    font-size: 2em;
    color: rgb(255, 118, 118);
    cursor: pointer;
}

.post-slider .post-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post{
    width: 300px;
    height: 330px;
    margin: 0px 10px;
    display: inline-block;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a0;
}

.post-slider .post-wrapper .post .slider-image{
    width: 100%;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    object-fit: contain;
    padding-top: 5px;
}

.post-slider .post-wrapper .post .post-info{
    height: 124px;
    padding: 0px 5px;
    text-align: center;
}

/* CONTENT */
.content{
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content{
    width: 70%;
    float: left;
}

.content .main-content.single{
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    border-radius: 10px;
}



.content .main-content.single .post-content p{
    padding: 10px;
}

.content .main-content.single .post-content a{
    padding: 10px;
    color: blue;
}


.content .main-content.single .post-title{
    text-align: center;
    margin-bottom: 40px;
}

.content .main-content.single .post-image{
    text-align: center;
}

.content .main-content.single .post-bottom{
    box-sizing: border-box;
    padding: 15px 0px;
    color: #505050;
}

.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: #ffffff;
    position: relative;
    font-size: 1.1rem;
}

.content .important .post{
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
    padding-top: 10px;
}

.content .important .post img{
    height: 85px;
    width: 80px;
    float: left;
    margin-right: 10px;
}

.content .main-content .post{
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid #787878;
    background: transparent;
    border-radius: 0px;
    color: #787878 !important;
}

.content .main-content .post .read-more:hover{
    background: #FF5F1F;
    color: white !important;
    transition: 0.25s;
}

.content .main-content .post .post-image{
    width: 40%;
    height: 100%;
    text-align: center;
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content .main-content .post .post-preview{
    width: 60%;
    padding: 15px;
    float: right;
}

.content .main-content .recent-post-title{
    margin: 20px;
}

.content .sidebar{
    width: 30%;
    float: left;
}

.content .sidebar.single{
    padding: 0px 10px;
}

.content .sidebar .section{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content .sidebar .section .section-title{
    margin: 10px 0px 10px 0px;
}

.content .sidebar .section.search{
    margin-top: 79px;
}

.content .sidebar .section.topics ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a{
    display: block;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.content .sidebar .section.topics ul li a:hover{
    padding-left: 10px;
    transition: all 0.3s ease;
}

/* AUTH PAGES */
.auth-content{
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07)
}

.auth-content form div{
    margin-bottom: 10px;
}

.auth-content .form-title{
    text-align: center;
}

.auth-content form p{
    text-align: center;
}

.auth-content form p a{
    text-decoration: underline;
}

/* FOOTER */
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}

.footer .footer-content{
    height: 400px;
    display: flex;
}

.footer .footer-content .footer-section{
    flex: 1;
    padding: 25px;
}

.footer .footer-content .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
    padding: 8px;
}

.footer .footer-content h1,
.footer .footer-content h2{
    color: white;
}

.footer .footer-content .about h1 span{
    color: rgb(255, 118, 118);
}



.footer .footer-content .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.footer .footer-content .about .socials a:hover{
    border: 1px solid white;
    color: white;
    transition: all 0.3s ease;
}


.footer .footer-content .links ul a{
    display: block;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.2em;
    list-style: none;
    transition: all .3s ease;
}

.footer .footer-content .links ul a:hover{
    color: white;
    margin-left: 15px;
    transition: all .3s ease;
}

.footer .footer-content .contact-form{
    padding: 1rem;
}

.footer .footer-content .contact-form .contact-input{
    background: #272727;
    color: #bebdbd;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
}

.footer .footer-content .contact-form .contact-input:focus{
    background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn{
    float: right;
    font-size: 1.1em;
    background: rgb(255, 118, 118);
}

.footer .footer-content .contact-form .contact-btn:hover{
    cursor: pointer;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 930px){
    .content{
        width: 100%;
    }
}


@media only screen and (max-width: 850px){
    header{
        position: relative;
        z-index: 7;
    }

    header ul{
        width: 100%;
        background-color: #787878;
        max-height: 0px;
        overflow: hidden;
    }

    .showing{
        max-height: 100em;
    }

    header ul li{
        width: 100%
    }

    header .dropdown-content{
        display: block;
        position: static;
        width: 100%;
        background: inherit;

    }

    header .menu-toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 1px;
        font-size: 1.9em;
        padding: 17px;
}

    header .menu-toggle:hover{
        background: #505050;
    }

    header .logo{
        margin-left: .5em;
    }

}

@media only screen and (max-width: 825px){
    .content .main-content{
        width: 100%;
    }

    .content .main-content .post{
        width: 100%;
    }

    .content .sidebar{
        width: 100%;
        padding: 20px;
    }
    .content .sidebar .section.search{
        margin-top: 30px;
    }

    .footer{
        height: auto;
    }
    
    .footer .footer-content{
        height: auto;
        flex-direction: column;
    }

    .footer .footer-content .contact-form .contact-btn{
        width: 100%;
    }
    
}

@media only screen and (max-width: 615px){    
        .content .main-content .post{
        height: auto;

    }
    .content .main-content .post .post-image{
        width: 100%;
    }
    
    .content .main-content .post .post-preview{
        width: 100%;
    }



}